.container14 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://images.pexels.com/photos/933245/pexels-photo-933245.jpeg?auto=compress&cs=tinysrgb&w=600") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper14 {
    width: 40%;
    padding: 20px;
    background-color: white;
}

.title14 {
    font-size: 24px;
    font-weight: 300;
}

.form14 {
    display: flex;
    flex-wrap: wrap;
}

.input14 {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

.agreement14 {
    font-size: 12px;
    margin: 20px 0px;
}

.button14 {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}