.container8 {
    height: 60vh;
    background-color: #EAE3D2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title8 {
    font-size: 70px;
    margin-bottom: 20px;
}

.desc8 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.inputContainer8 {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.input8 {
    border: none;
    flex: 8;
    padding-left: 20px;
}

.button8 {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
}