.container9 {
    display: flex;
}

.left9 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.desc9 {
    margin: 20px 0px;
}

.center9 {
    flex: 1;
    padding: 20px;
}

.title9 {
    margin-bottom: 30px;
}

.list9 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.listItem9 {
    width: 50%;
    margin-bottom: 10px;
}

.right9 {
    flex: 1;
    padding: 20px;
}

.contactItem9 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.payment9 {
    width: 50%;
}