.container5 {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}

.image5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title5 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.button5 {
    text-decoration: none;
    color: black;
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}