.title31{
    margin: 20px;
}

.filterContainer31{
    display: flex;
  justify-content: space-between;
}

.filter31{
    margin: 20px;
}

.filterText31{
    font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.select31{
    padding: 10px;
    margin-right: 20px;
}

