.wrapper10 {
    padding: 20px;
}

.title10 {
    font-weight: 300;
    text-align: center;
}

.top10 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.topButton10 {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
}


.topTexts10 {}

.topText10 {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.bottom10 {
    display: flex;
    justify-content: space-between;
}

.info10 {
    flex: 3;
}

.product10 {
    display: flex;
    justify-content: space-between;
}

.productDetail10 {
    flex: 2;
    display: flex;
}

.image10 {
    width: 200px;
}

.details10 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productColor10 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.productDetail10 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productAmountContainer10 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.productAmount10 {
    font-size: 24px;
    margin: 5px;
}

.productPrice10 {
    font-size: 30px;
    font-weight: 200;
}

hr {
    background-color: #eee;
    border: none;
    height: 1px;
}

.summary10 {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.summaryTitle10 {
    font-weight: 200;
}

.summaryItem10 {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
}

.button10 {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    left: 0%;
}